src/main/mule/new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d0a2db81-b4f4-4421-9cb2-320f72a60ee5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="newFlow" doc:id="cabb3692-3769-4d53-8555-ddc28f6832fc" >
		<http:listener doc:name="Listener" doc:id="1bc4e18c-c43f-4841-a81d-0d4fb809c1c7" config-ref="HTTP_Listener_config" path="/new"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ded73f70-d8d0-4fd6-8462-24390c92125a" />
	</flow>
</mule>
